.main,
.main2 {
    width: 800px;
    height: 825px;
    background-color: #702B9D;
    border-radius: 5px;
    overflow-y: auto;
    box-shadow: 2px 3px 8px 2px rgba(0, 0, 0, 0.2);
}

.main div {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    /* flex-direction: row; */
    margin: 30px;
    flex-wrap: wrap;
}

.main2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* flex-direction: row; */
    margin: 30px;
    flex-wrap: wrap;
}

.main::-webkit-scrollbar,
.main2::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.main::-webkit-scrollbar-track,
.main2::-webkit-scrollbar-track {
    background: #702b9d;
    /* color of the tracking area */
}

.main::-webkit-scrollbar-thumb,
.main2::-webkit-scrollbar-thumb {
    background-color: #fff;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #702b9d;
    /* creates padding around scroll thumb */
}